h1 {
    color: red;
    text-align: center;
}

h2 {
    color:blue;
    text-align: center;
}

h6 {
    background-color: green;
    text-align: center;
}

#omraade4 p {
    font-family:cursive
}

#omraade3 span {
    background-color: blue;
}

nav a {
    text-decoration:none ;
}